body {
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
}

.photo-group {
    margin-bottom: 30px;
}

.photo-group .card {
    border: none;
}

.photo-group img {
    border-radius: 0.25rem;
}

#searchForm input {
    width: 300px;
}
